:root {
    --lightYellow : 240,255,0;
    --meduimOrange : #ff9a00;
    --darkRed : 255,0,0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
}  


button {
    padding: 0;
    border: 0;
    background: inherit;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
  }

  #audio-player-container {
    position: relative;
    width: 75%;
    max-width: 160px;
    height:px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
  }
  
  #audio-player-container::before {
    position: absolute;
    content: '';
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    left: -2px;
    top: -2px;
    background: linear-gradient(to left, #007db5, #ff8a00);
    z-index: -1;
    border-radius: 50%;
  }
  #play-icon {
    margin: 25%;
    width: 80px;
    height: 80px;
   }
  path {
    stroke: rgb( var(--darkRed) );
  }
  .parallax {
    /* The image used */
    background-image: linear-gradient( to right, rgb(var(--lightYellow), 0.4), rgba(var(--darkRed),0.2) ), url(../assets/background-1.jpg);
    background-size: cover;
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh;
  }
  #logo {
    position: relative;
    left: 50%;
    margin-top: 8px;
    transform: translateX(-50%);
  }
  #playButton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
  }
  /* Backdrop Circle Class glassmorphism */
  .backdrp-circle {
    position: relative;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    align-items: center;
  }
  .backdrp {
    position: relative;
    background: rgba(250, 244, 244, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.692);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    align-items: center;
  }

  /* center class */
  .center {
    display: flex;
    justify-content: center;
    align-items: center;     
  }

  @media only screen and (max-width: 720px) {
    .bottom-button {
      position: fixed;
  left: 0;
  bottom: 0;
    }

    #audio-player-container {
      border-radius: 0;
      width: auto;
    }
    #audio-player-container::before {
      border-radius: 0;
    }

    .backdrp-circle {
      margin-top: 32px;
      width: 65%;
    }

    .center {
     height: auto;
    }
    .wrapper {
      transform: translate( -10%, 0); 
    }
  }

  #navbarBottom {
    border-radius: 25px 25px 0px 0px;
    padding: 16px;
  }


  /* Icons */
  .wrapper{
    position: absolute;
    width: 100%;
    /* transform: translate(-50%,-50%); */
    /* transform: translate( -10%, 0); */
}
.wrapper ul{
  list-style: none;
}
.wrapper ul li{
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.wrapper ul li .fa{
  color: #444c47;
  margin-top: 20px;
  transition: all 0.5s ease;
}
.wrapper ul li .facebook{
  transition: all 0.5s ease;
}

.wrapper ul li .fa-facebook{
  color: #3b5998;
  text-shadow: 0 0 15px #6786c9;
  transition: all 0.5s ease;
}
.wrapper ul li .twitter{
  border: 5px solid  #00aced;
  box-shadow: 0 0 15px  #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li .fa-twitter{
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li .instagram{
  border: 5px solid rgb(var(--lightYellow));
  box-shadow: 0 0 15px rgb(var(--lightYellow));
  transition: all 0.5s ease;
}

.wrapper ul li .fa-instagram{
  color:rgb(var(--lightYellow));
  text-shadow: 0 0 15px rgb(var(--lightYellow));
  transition: all 0.5s ease;
}
.wrapper ul li:hover:google{
  border: 5px solid  #dd4b39;
  box-shadow: 0 0 15px  #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google{
  color: #dd4b39;
  text-shadow: 0 0 15px  #dd4b39;
  transition: all 0.5s ease;
}
.wrapper ul li .whatsapp{
    border: 5px solid  #4dc247;
    box-shadow: 0 0 15px  #4dc247;
    transition: all 0.5s ease;
}

.wrapper ul li .fa-whatsapp{
    color: #4dc247;
    text-shadow: 0 0 15px  #4dc247;
    transition: all 0.5s ease;
}



/* ---------------------------- PORTFOLIO ------------------------- */
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/* width:100%; */
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}

.content-container {
  background: linear-gradient(to top, rgba(245, 176, 176, 0.3), transparent);
  border-radius: 8px;
}