:root {
    --lightYellow : 240,255,0;
    --meduimOrange : #ff9a00;
    --darkRed : 255,0,0;
    --neon-text-color: rgba(255, 68, 0, 0.603);
    --neon-border-color: #ff6600;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
}  


button {
    padding: 0;
    border: 0;
    background: inherit;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
  }

  #audio-player-container {
    position: relative;
    width: 75%;
    max-width: 160px;
    height:px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
  }
  
  #audio-player-container::before {
    position: absolute;
    content: '';
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    left: -2px;
    top: -2px;
    background: linear-gradient(to left, #007db5, #ff8a00);
    z-index: -1;
    border-radius: 50%;
  }
  #play-icon {
    margin: 25%;
    width: 84px;
    height: 84px;
   }
  path {
    stroke: rgb( var(--darkRed) );
  }
  .parallax {
    /* The image used */
    background-image: linear-gradient( to right, rgb(var(--lightYellow), 0.4), rgba(var(--darkRed),0.2) ), url(../assets/background-1.jpg);
    background-size: cover;
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh;
  }
  #logo {
    position: relative;
    left: 50%;
    margin-top: 8px;
    transform: translateX(-50%);
  }
  #playButton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
  }
  /* Backdrop Circle Class glassmorphism */
  .backdrp-circle {
    position: relative;
    background: rgba( 255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    align-items: center;

    -webkit-animation: flicker 1s ease-in-out infinite alternate;
    -moz-animation: flicker 1s ease-in-out infinite alternate;
    animation: flicker 1s ease-in-out infinite alternate;

  }
  .backdrp {
    position: relative;
    background: rgba(250, 244, 244, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.692);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    align-items: center;
  }

  /* center class */
  .center {
    display: flex;
    justify-content: center;
    align-items: center;     
  }

  @media only screen and (max-width: 720px) {
    .bottom-button {
      position: fixed;
  left: 0;
  bottom: 0;
    }

    #audio-player-container {
      border-radius: 8px;
      width: auto;
    }
    #audio-player-container::before {
      border-radius: 8px;
    }

    .backdrp-circle {
      margin-top: 32px;
      width: 65%;
    }

    .center {
     height: auto;
    }
    .wrapper {
      transform: translate( -10%, 0); 
    }
  }

  #navbarBottom {
    border-radius: 25px 25px 0px 0px;
    padding: 16px;
  }


  /* Icons */
  .wrapper{
    position: absolute;
    width: 100%;
    /* transform: translate(-50%,-50%); */
    /* transform: translate( -10%, 0); */
}
.wrapper ul{
  list-style: none;
}
.wrapper ul li{
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.wrapper ul li .fa{
  color: #444c47;
  margin-top: 20px;
  transition: all 0.5s ease;
}
.wrapper ul li .facebook{
  transition: all 0.5s ease;
}

.wrapper ul li .fa-facebook{
  color: #3b5998;
  text-shadow: 0 0 15px #6786c9;
  transition: all 0.5s ease;
}
.wrapper ul li .twitter{
  border: 5px solid  #00aced;
  box-shadow: 0 0 15px  #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li .fa-twitter{
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li .instagram{
  border: 5px solid rgb(var(--lightYellow));
  box-shadow: 0 0 15px rgb(var(--lightYellow));
  transition: all 0.5s ease;
}

.wrapper ul li .fa-instagram{
  color:rgb(var(--lightYellow));
  text-shadow: 0 0 15px rgb(var(--lightYellow));
  transition: all 0.5s ease;
}
.wrapper ul li .envelope{

    border: 5px solid  #00aced;
    box-shadow: 0 0 15px  #00aced;
    transition: all 0.5s ease;
}

.wrapper ul li .fa-envelope{
  transform: translate( 0px, -16px);
    color: #00aced;
    text-shadow: 0 0 15px  #00aced;
    transition: all 0.5s ease;
}

.content-container {
  background: linear-gradient(to top, rgba(245, 183, 183, 0.151), transparent);
  border-radius: 8px;
}

/* Branding */
.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  text-decoration: none;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@keyframes flicker {
    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
      text-shadow:
          -0.2rem -0.2rem 1rem #fff,
          0.2rem 0.2rem 1rem #fff,
          0 0 2rem var(--neon-text-color),
          0 0 4rem var(--neon-text-color),
          0 0 6rem var(--neon-text-color),
          0 0 8rem var(--neon-text-color),
          0 0 10rem var(--neon-text-color);
      
      box-shadow:
          0 0 .5rem #fff,
          inset 0 0 .5rem #fff,
          0 0 2rem var(--neon-border-color),
          inset 0 0 2rem var(--neon-border-color),
          0 0 4rem var(--neon-border-color),
          inset 0 0 4rem var(--neon-border-color);        
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    
}